In [2]:
import pymysql

In [16]:
# 打开数据库连接
db = pymysql.connect("localhost","root","root1234","mydb")

# 使用curosr() 方法创建一个游标对象 cursor
cursor = db.cursor()

# 使用execute() 执行sql查询
cursor.execute("show tables")

# 使用fetchone()  方法来获取单条数据
data = cursor.fetchone()

print("数据库下的表格有：",data)

# 关闭数据库连接
db.close()

数据库下的表格有： ('订单',)

In [27]:
# 打开数据库连接
db = pymysql.connect("localhost","root","root1234","mydb")

# 使用curosr() 方法创建一个游标对象 cursor
cursor = db.cursor()

# SQL查询语句
# 注意values这里的，如果确定要传入字符串的话，需要用引号
sql = """
insert into dept(depno,deptname,location) values(%d,'%s','%s')
"""  % (70,'project','California')

try:
    # 执行sql语句
    cursor.execute(sql)
    # 执行sql
    db.commit()
except:
    # 发生错误时回滚
    db.rollback()

# 关闭数据库连接    
db.close()

In [28]:
# 打开数据库连接
db = pymysql.connect("localhost","root","root1234","mydb")

# 使用curosr() 方法创建一个游标对象 cursor
cursor = db.cursor()

# SQL查询语句
sql = """
select * from dept where depno >= %s 
"""  % (10)

try:
    # 执行sql语句
    cursor.execute(sql)
    # 获取所有的记录
    results = cursor.fetchall()
    for row in results:
        depno = row[0]
        deptname = row[1]
        location = row[2]
        print("部门编号:",depno,",部门名称",deptname,",部门地址",location)

except:
    print("Error: unable to fetch data")

db.close()

部门编号: 10 ,部门名称 ACCOUNTING ,部门地址 NEW YORK
部门编号: 20 ,部门名称 RESEARCH ,部门地址 DALLAS
部门编号: 30 ,部门名称 SALES ,部门地址 CHICAGO
部门编号: 40 ,部门名称 OPERATIONS ,部门地址 BOSTON
部门编号: 50 ,部门名称 projec ,部门地址 California
部门编号: 60 ,部门名称 project ,部门地址 California
部门编号: 70 ,部门名称 project ,部门地址 California

In [35]:
# 打开数据库连接
db = pymysql.connect("localhost","root","root1234","mydb")

# 使用curosr() 方法创建一个游标对象 cursor
cursor = db.cursor()

# SQL查询语句
sql = """
select * from dept where depno >= %s 
"""  % (10)

try:
    # 执行sql语句
    cursor.execute(sql)
    # 获取所有的记录
    results = cursor.fetchall()
    for row in results:
        depno = row[0]
        deptname = row[1]
        location = row[2]
        print("部门编号:",depno,",部门名称",deptname,",部门地址",location)

except:
    print("Error: unable to fetch data")

db.close()

部门编号: 10 ,部门名称 ACCOUNTING ,部门地址 NEW YORK
部门编号: 20 ,部门名称 RESEARCH ,部门地址 DALLAS
部门编号: 30 ,部门名称 SALES ,部门地址 CHICAGO
部门编号: 40 ,部门名称 OPERATIONS ,部门地址 BOSTON
部门编号: 50 ,部门名称 projec ,部门地址 California
部门编号: 60 ,部门名称 project ,部门地址 California

In [30]:
# 打开数据库连接
db = pymysql.connect("localhost","root","root1234","mydb")

# 使用curosr() 方法创建一个游标对象 cursor
cursor = db.cursor()

# SQL查询语句
# 注意values这里的，如果确定要传入字符串的话，需要用引号
sql = """
update dept set deptname = '%s' where depno = %d 
"""  % ('xxxx',70)

try:
    # 执行sql语句
    cursor.execute(sql)
    # 执行sql
    db.commit()
except:
    # 发生错误时回滚
    db.rollback()

# 关闭数据库连接    
db.close()

In [36]:
# 打开数据库连接
db = pymysql.connect("localhost","root","root1234","mydb")

# 使用curosr() 方法创建一个游标对象 cursor
cursor = db.cursor()

# SQL查询语句
# 注意values这里的，如果确定要传入字符串的话，需要用引号
sql = """
delete from dept where depno = %d 
"""  % (70)

try:
    # 执行sql语句
    cursor.execute(sql)
    # 执行sql
    db.commit()
except:
    # 发生错误时回滚
    db.rollback()

# 关闭数据库连接    
db.close()